*{
padding:0px;
margin:0px;
}

img{
max-width:100% !important;
height:auto !important;
}

div{
width:100%;
}


.we{
position:absolute;
top:0px;
width:683px;
height:348px;
}

a:active,
a:hover {
    outline: 0;
}

#try1{
background:url(bo2.jpg);
width:auto;
height:546px;
}


.try2{
background:url(top_title.png);
background-repeat:no-repeat;
background-size:cover;
font-size:xx-large;
color:red;
}

.max{
max-width:100%;
}

@media(max-width:480px){

.we{
position:absolute;
bottom:0px;
left:50px;
width:343px;
height:124px;
}



}